
	html, body {
		margin: 0;
		padding: 0;
		background-color: #e6e6e6;
	}
	
	button {
		font-size: 18px;
		font-family: 'Source Sans Pro';
		font-style: normal;
		font-weight: 300;
		outline: none;
	}
	
	#header {
		background-color: #f2f2f2;
		min-height: 100px;
		height: auto;
		width: 90%;
		display: block;
		margin-left: 5%;
		margin-right: 5%;
		border-bottom: 1px solid white;
	}

	#OG {
		border: 0px solid red;
		height: 100px;
		max-width: 40%;
		margin-left: 2%;
	}
	
	#buttonsContainer {
		border: 0px solid black;
		height: 100%;
		min-height: 100px;
		min-width: 55%;
		width: auto;
		float: right;
		margin-right: 1%;
		// Move the div element so that buttons align with picture.
		top: 55%;
		transform: translateY(55%);
		-webkit-transform: translateY(55%);
	}
	
	#buttonsContainer .menuButtons {
		border: 0px solid red;
		background: none;
		padding: 0px 2%;
		margin: auto;
		float: right;
		cursor: pointer;
	}
	
	#buttonsContainer .menuButtons:hover {
		border-bottom: 1px solid #cc0000;
		color: rgb(204, 0, 0);
	}
	
	#mainMenu, .mainButtons { 
		/* The "Menu" button and all related buttons should not be present when the max-width > 752 */
		display: none;
	}
	
	@media screen and (max-width: 730px) {
		
		#OG {
			max-width: 100%;
			width: auto;
			display: block;
			margin: 0 auto;
		}
		
		#buttonsContainer , .menuButtons , #buttonsContainer .menuButtons{
			display: none;
		}
		
		#mainMenu {
			background-color: #f2f2f2;
			display: block;
			height: 50px;
			width: 90%;
			margin-left: 5%;
			cursor: pointer;
			border: none;
			border-bottom: 1px solid white;
			outline:none;
		}
		
		.mainButtons {
			display: none;
			border: none;
			height: 50px;
			width: 90%;
			margin-left: 5%;
			padding: 2% 1%;	
			background-color: #f2f2f2;
		}
		
		.mainButtons:hover {
			border-top: 1px solid #cc0000;
			border-bottom: 1px solid #cc0000;
			color: rgb(204, 0, 0);//#cc0000;
			cursor: pointer;
		}
		
	}
